.add-notes{
    position: fixed;
    left: 89vw;
    top: 85vh;
    padding: 11px;
    border-radius: 16px;
    z-index: 1000;
    font-weight: bold;
    border:2px solid;
}

.my-btn:hover{
    color: #0d6efd;
    background-color:white;
    box-shadow: none;
}
.my-btn{
    color: #0d6efd;
    box-shadow: #0d6efd 1px 2px 0px 0px;
    background-color:white;
}

@media only screen and (max-width:904px) and (min-width:587px){
    .add-notes{
        left:82vw;
    }
}

@media screen and (max-width:586px)and (min-width:400px){
    
    .add-notes{
        left:75vw;
    }
}
@media screen and (max-width:399px){
    
    .add-notes{
        left: 72vw;
        padding: 7px 6px;
        border-radius: 9px;
    }
}